<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>{% block pageTitle %}Home{% endblock %} - TinderWeb</title>
<div id="fb-root"></div>
<div id="wrapper">
	{% block content %}{% endblock %}
</div>
</html>
